<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="nz.ac.massey.take.takeep.editor.TakeEditor"
            contributorClass="nz.ac.massey.take.takeep.editor.TakeEditorActionContributor"
            extensions="take"
            icon="icons/fishhook.jpg"
            id="TakeEP.takeEditor"
            name="Take Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
               <category 
         id="ac.nz.massey.take" 
         name="Take"/> 
         
      <view
            allowMultiple="false"
            category="ac.nz.massey.take"
            class="nz.ac.massey.take.takeep.view.TakeView"
            icon="icons/fishhook.jpg"
            id="TakeDT.view"
            name="View">
      </view>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="nz.ac.massey.take.takeep.actionSets"
            label="Take Actions"
            visible="true">
            
    		<action id="nz.ac.massey.take.takeep.actionsSets.TakeCompileToClasses"
          		toolbarPath="nz.ac.massey.take.takeep.editor.TakeEditor/C2C"
          		icon="icons/fishhookCla.JPG"
          		tooltip="Compile to Classes"
          		label = "Compile2Classes"
          		class="nz.ac.massey.take.takeep.actionsSets.TakeCompileToClasses">
    		</action>
    		
            <action id="nz.ac.massey.take.takeep.actionsSets.TakeCompileToInterfaces"
          		toolbarPath="nz.ac.massey.take.takeep.editor.TakeEditor/C2C"
          		icon="icons/fishhookInt.JPG"
          		tooltip="Compile to Interfaces"
          		label = "Compile2Classes"
          		class="nz.ac.massey.take.takeep.actionsSets.TakeCompileToInterfaces">
    		</action>
    		
    		<action id="nz.ac.massey.take.takeep.actionsSets.TakeRunVerifiers"
          		toolbarPath="nz.ac.massey.take.takeep.editor.TakeEditor/C2C"
          		icon="icons/fishhookVer.JPG"
          		tooltip="Run verifiers"
          		label = "Compile2Classes"
          		class="nz.ac.massey.take.takeep.actionsSets.TakeRunVerifiers">
    		</action>		
      </actionSet>
   </extension>

-->
</plugin>
